In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from dataretrieval import nwis
import requests
import json

In [2]:
key = 
lat = '45.68'
lon = '111.03'

url = f'https://api.openweathermap.org/data/2.5/forecast?lat={lat}&lon={lon}&appid={key}'
response = requests.get(url).json()
data = pd.json_normalize(response, max_level=1)
data

,cod,message,cnt,list,city.id,city.name,city.coord,city.country,city.population,city.timezone,city.sunrise,city.sunset
0,200,0,40,"[{'dt': 1671300000, 'main': {'temp': 256.54, '...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576

In [3]:
key = '279bd44a2424fa5fbb94b1aca0a2fd4e'
lat = '45.68'
lon = '111.03'

url = f'https://api.openweathermap.org/data/2.5/forecast?lat={lat}&lon={lon}&appid={key}'
response = requests.get(url).json()
data = pd.json_normalize(response, max_level=1)
data

,cod,message,cnt,list,city.id,city.name,city.coord,city.country,city.population,city.timezone,city.sunrise,city.sunset
0,200,0,40,"[{'dt': 1671300000, 'main': {'temp': 256.54, '...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576

In [18]:
hope = data.explode('list')
hope.head(5)

,cod,message,cnt,list,city.id,city.name,city.coord,city.country,city.population,city.timezone,city.sunrise,city.sunset
0,200,0,40,"{'dt': 1671300000, 'main': {'temp': 256.54, 'f...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576
0,200,0,40,"{'dt': 1671310800, 'main': {'temp': 256.31, 'f...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576
0,200,0,40,"{'dt': 1671321600, 'main': {'temp': 255.94, 'f...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576
0,200,0,40,"{'dt': 1671332400, 'main': {'temp': 260.02, 'f...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576
0,200,0,40,"{'dt': 1671343200, 'main': {'temp': 261.79, 'f...",2030570,Hongor,"{'lat': 45.68, 'lon': 111.03}",MN,1000,28800,1671322298,1671353576

In [19]:
hope.iloc[0,3]

{'dt': 1671300000,
 'main': {'temp': 256.54,
  'feels_like': 249.54,
  'temp_min': 256.54,
  'temp_max': 256.54,
  'pressure': 1029,
  'sea_level': 1029,
  'grnd_level': 887,
  'humidity': 81,
  'temp_kf': 0},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04n'}],
 'clouds': {'all': 100},
 'wind': {'speed': 3.21, 'deg': 288, 'gust': 4.04},
 'visibility': 10000,
 'pop': 0,
 'sys': {'pod': 'n'},
 'dt_txt': '2022-12-17 18:00:00'}

In [26]:
#retrieving weather information
#https://openweathermap.org/current

weather = pd.DataFrame(hope.iloc[0,3]['weather'])
weather

    id    main      description icon
0  804  Clouds  overcast clouds  04n

In [35]:
#retrieving temperature information
temps = pd.DataFrame([hope.iloc[0,3]['main']])
temps

,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf
0,256.54,249.54,256.54,256.54,1029,1029,887,81,0

In [37]:
#retrieving visibility information
hope.iloc[0,3]['visibility']

10000

In [41]:
#retrieving wind information
wind = pd.DataFrame([hope.iloc[0,3]['wind']])
wind

   speed  deg  gust
0   3.21  288  4.04

In [44]:
#retrieving wind information
clouds = pd.DataFrame([hope.iloc[0,3]['clouds']])
clouds

   all
0  100

In [46]:
#retrieving rain information
rain = pd.DataFrame([hope.iloc[0,3]['snow']])
rain

KeyError: 'snow'